.i{
  background-color: rgba(0,0,0,0);
  border:none;
}
.div{
  padding-top: 150px;
  text-align: center;
}
font{
  font-size: 140px
}
.g{
  color: blue;
}

.o{
  color:yellow;
}
.l{
  color:green;
}
.e{
  color:red;
}
.in{
border:none;
}
